.team {
	background-color: var(--background-team-color);
}

.team-list>.team-item:not(:first-child) {
	margin-left: 30px;
}

.team-section {
	margin-top: 0;
	padding-top: 94px;
	padding-bottom: 94px;
}

.team-main-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--title-text-color);
	margin-bottom: 50px;
}

.team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: var(--title-text-color);
	text-align: center;
	margin-bottom: 10px;
}

.team-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	color: var(--primary-text-color);
	text-align: center;
	margin-bottom: 16px;

}

.name-team {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-item {
	background-color: var(--hero-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list {
	display: flex;
}

/*Соціальні мережі*/
.icon-team {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon-team {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	fill: var(--icon-color);
}

.icon-social-link {
	width: 44px;
	height: 44px;
	align-items: center;
	justify-content: center;
	fill: var(--icon-color);
	display: flex;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-item:not(:last-child) {
	margin-right: 10px;
}

.social-icon-list {
	display: flex;
	justify-content: center;
}


.icon-social-link:hover,
.icon-social-link:focus {
	fill: var(--hero-text-color);
	background-color: var(--accent-color);
	border-radius: 50%;
}