

body {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	background-color: var(--hero-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}





