//кольори//

:root {
	--title-text-color: #212121;
	--hero-text-color: #FFFFFF;
	--primary-text-color: #757575;
	--btn-second-color: #188CE8;
	--accent-color: #2196F3;
	--background-team-color: #F5F4FA;
	--background-color: #2F303A;
	--background-portfolio: #E5E5E5;
	--border-color: #ECECEC;
	--vector-color: #000000;
	--container-border-color: #EEEEEE;
	--icon-color: #AFB1B8;
}